.home {
  background-image: linear-gradient(rgba(214, 111, 111, 0), rgba(0, 0, 0, 0.5)), url(https://cdn.wallpapersafari.com/24/54/K3ZnyS.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  width:auto;
  position: relative;
  color: white;
  font-weight: bolder;
}

  .home2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/23529763.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width:auto;
    position: relative;
    /* font-weight: bolder; */
    color: black;
  }

  .home3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(https://www.lotuslaundryservice.com/media/1227/herosolomachinebluewhitewall.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width:auto;
    position: relative;
    /* font-weight: bolder; */
    color: black;
  }



  .add {
      text-align: center;
  }
  .form-control mb-4 col-4 {
      text-align: center;
  }

  .home label {
    margin-left:160px; 
    font-size: 20px; 
    font-weight: 100px;
  }
  
  .home2 label {
    margin-left:160px; 
    font-size: 20px; 
    font-weight: 100px;
  }

  .home3 label {
    margin-left:160px; 
    font-size: 20px; 
    font-weight: 100px;
  }

  .insert {
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 25px;
  }