<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dormitory Service</title>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
    <link th:href="@{/css/custom2.css}" rel="stylesheet" />
  </head>
  

  <body class="home2">
    <form class="btn btn-default dropdown-toggle d-flex" method="POST" th:action="@{/logout}">
      <input type="submit" value="Logout"/>
     </form>
    <div class="container add"><br><br><br>
    
      <h1>Insert Menu</h1><br>
      

      <form  th:action="@{/saveInsertMenu}"  id="registerForm" method="POST" th:object="${menu}">
        
        <div class="form-group row">
          <label for="food" class="col-sm-2 col-form-label"><b>Food:</b> </label>
          <div class="col-sm-6">
              <input type="text"class="form-control mb-4 col-10" th:field="*{food}" name="food" id="food" placeholder="Enter Food">
          </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label"><b>Price:</b> </label>
            <div class="col-sm-6">
                <input type="number"class="form-control mb-4 col-10" th:field="*{price}"  name="price" id="price" placeholder="Enter Price">
            </div>
          </div>
          <input type="number" hidden th:field="*{foodId}">
          <input class="btn btn-secondary col-2" type="submit" value="Insert" />
          <a class="btn btn-success col-2" th:href = "@{/menu/{id}(id=${id})}"> Done </a><br><br><br>
       
        
      </form>
  
    	<hr>
		
		<a th:href = "@{/foodregister}" class="btn btn-link col-2" style="color: white; font-weight: bolder" > Back </a><br><br>
	</div>
  </body>
</html>


				
	
		
	
