<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dormitory Service</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
    <link th:href="@{/css/custom2.css}" rel="stylesheet" />
	
</head>
<body class="home3">
	<form class="btn btn-default dropdown-toggle d-flex" method="POST" th:action="@{/logout}">
		<input type="submit" value="Logout"/>
	   </form>

	<div class="container my-2"><br>
	<h1 style="text-align:center">Laundry Services</h1><br>
	
		<table style="border: 1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>First Name</th>
                    <th>Last Name</th>
					<th>Address</th>
                    <th>Contact</th>
                    <th>Minimum Price/<br>Cloth(Birr)</th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="laundry : ${listLaundrys}">
					<td th:text="${laundry.firstName}"></td>
					<td th:text="${laundry.lastName}"></td>
					<td th:text="${laundry.lauAddress}"></td>
                    <td th:text="${laundry.lauContact}"></td>
                    <td th:text="${laundry.minPrice}"></td>
                    <td>
                        <a th:href="@{/edit/{id}(id=${laundry.id})}" class="btn btn-dark">Edit</a>
                        <a th:href="@{/deleteLaundry/{id}(id=${laundry.id})}" class="btn btn-danger">Quit</a></td>   
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>