<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Dormitory Service</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
    <link th:href="@{/css/custom2.css}" rel="stylesheet" />
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
</head>
<body class="home3">
	<form sec:authorize = "isAuthenticated()" style="margin-left: 950px;" class="btn btn-group-lg col-3" method="POST" th:action="@{/logout}">
		<input type="submit" value="Logout"/>
	   </form>

	<div class="container my-2"><br>
	<h1 style="text-align:center;">Laundry Services</h1><br>
	
		<table style="border: 1; margin-left: 25px; " class = "table table-striped table-responsive-md">
			<thead>
				<tr style="font-size:20px;">
					<th>First Name</th>
                    <th>Last Name</th>
					<th>Address</th>
                    <th>Contact</th>
                    <th>Minimum Price/<br>Cloth(Birr)</th>
					<th sec:authorize="hasAuthority('ROLE_LAUNDRY')"> </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="laundry : ${listLaundrys}">
					<td th:text="${laundry.firstName}"></td>
					<td th:text="${laundry.lastName}"></td>
					<td th:text="${laundry.lauAddress}"></td>
                    <td th:text="${laundry.lauContact}"></td>
                    <td th:text="${laundry.minPrice}"></td>
                    <td sec:authorize="hasAuthority('ROLE_LAUNDRY')">
                        <a sec:authorize="hasAuthority('ROLE_LAUNDRY')" th:href="@{/edit/{id}(id=${laundry.id})}" class="btn btn-dark" style="text-shadow: none;" >Edit</a>
                        <a sec:authorize="hasAuthority('ROLE_LAUNDRY')" th:href="@{/deleteLaundry/{id}(id=${laundry.id})}" class="btn btn-danger" style="text-shadow: none;" >Quit</a></td>   
				</tr>
			</tbody>
		</table>
	</div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>