<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Dormitory Service</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
    <link th:href="@{/css/custom2.css}" rel="stylesheet" />
<!-- 	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
	
</head>
<body class="home2">
	
	<div class="container my-2"><br>
    <a sec:authorize="hasAuthority('ROLE_FOOD')" style="margin-left: 900px;" th:href = "@{/addmenu/{id}(id=${id})}" class="btn btn-light btn-lg mb-3"> Insert Menu </a>
	<h1 style="text-align:center">Menu</h1><br>
	
		<table style="border: 1; table-layout: fixed; margin-left: 25px;" class = "table table-striped table-responsive-md">
			<thead>
				<tr style="font-size:20px;">
					<th>Food</th>
          			<th> Price(Birr)</th>
					<th sec:authorize="hasAuthority('ROLE_FOOD')"> </th>
				</tr>
			</thead>
		<tbody>
				<tr th:each="menu : ${listMenus}">
					<td th:text="${menu.food}"></td>
					<td th:text="${menu.price}"></td>
					
                    <td sec:authorize="hasAuthority('ROLE_FOOD')" >
                        <a sec:authorize="hasAuthority('ROLE_FOOD')" th:href="@{/update/{id}(id=${menu.id})}" class="btn btn-dark">Update</a>
                        <a sec:authorize="hasAuthority('ROLE_FOOD')" th:href="@{/deleteMenu/{id}(id=${menu.id})}" class="btn btn-danger">Delete</a></td>   
					</tr>
			</tbody>
		</table>
	</div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>