<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Dormitory Service</title> 
    <link th:href="@{/css/custom.css}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
  </head>

  <body class="home">
    
      <div style="text-align: center" class="home-text"><br>
        <h1><div class="home_text_1"><span>Services</span></div></h1><br>
        <div class="home_text_2">"Choose The Service You Want To Use"</div><br><br>
        <div class="servicebtn">
          <a th:href="@{/food}"><button class="button">Food Services</button></a>
          <a th:href="@{/laundry}"><button class="button">Laundry Services</button></a>
      </div> 
   
  

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
   
  </body>
</html>
